@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
	font-family: 'Source Sans Pro',
		sans-serif;
}

.hv-100 {
	height: 100vh;
}

body {
	/* background-image: linear-gradient(45deg, #000, #fff); */
	background-color: #eff3f5;
	/* background-image: linear-gradient(180deg, #eff3f5 100%, #dae6e5 100%); */
	height: 100vh;
	background-image: linear-gradient(to top left, #eff3f5 50%, #dae6e5 50%);
	background-repeat: no-repeat;
	/* background: linear-gradient(to top right, #000 50%, #fff 50%); */
}

.custom-card {
	background-color: rgba(255, 255, 255, .5);
}

.text-bold {
	font-weight: 800;
}

.text-cerita {
	/* text-align: justify !important; */
	line-height: 2rem;
	font-weight: 600;
}

.form-group .form-control {
	background-color: rgba(255, 255, 255, .8) !important;
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {

	#signup,
	.cover {

		display: none !important;
	}

	.position-fixed {
		position: relative !important;
	}

	.title {
		font-size: 1.3rem;
		font-weight: 700;
	}
}

@media (max-width: 575.98px) {
	.position-fixed {
		position: relative !important;
	}

	#signup,
	.cover {
		display: none !important;
	}

	.title {
		font-size: 1.3rem;
		font-weight: 700;
	}
}

.cover {
	position: absolute;
	font-size: 10rem;
	left: -15%;
	top: 35%;
	opacity: .1;
	transform: rotate(90deg);
	font-weight: 900;
}
