@font-face {
	font-family: 'roboto';
	src: url('../font/Roboto-Regular.ttf') format('truetype');
	font-weight: 500;
}

@font-face {
	font-family: 'roboto';
	src: url('../font/Roboto-Light.ttf') format('truetype');
	font-weight: 300;
}

@font-face {
	font-family: 'roboto';
	src: url('../font/Roboto-Bold.ttf') format('truetype');
	font-weight: 900;
}


* {
	font-family: roboto;
}

.hv-100 {
	height: 100vh;
}

body {
	/* background-image: linear-gradient(45deg, #000, #fff); */
	background-color: #eff3f5;
	/* background-image: linear-gradient(180deg, #eff3f5 100%, #dae6e5 100%); */
	height: 100vh;
	background-image: linear-gradient(to top left, #eff3f5 50%, #dae6e5 50%);
	background-repeat: no-repeat;
	/* background: linear-gradient(to top right, #000 50%, #fff 50%); */
}

.custom-card {
	background-color: rgba(255, 255, 255, .5);
}

.text-bold {
	font-weight: 900;
}

.text-cerita {
	/* text-align: justify !important; */
	line-height: 2rem;
	/* font-weight: 300; */
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {

	#signup,
	.cover {

		display: none !important;
	}
}

@media (max-width: 575.98px) {

	#signup,
	.cover {
		display: none !important;
	}
}

.cover {
	position: absolute;
	font-size: 10rem;
	left: -15%;
	top: 35%;
	opacity: .1;
	transform: rotate(90deg);
	font-weight: 900;
}
